# urllib basics

In [10]:
from urllib.request import urlopen

url = 'https://en.wikipedia.org/wiki/General-purpose_programming_language'
page = urlopen(url).read()

In [3]:
page[:50]

b'<!DOCTYPE html>\n<html class="client-nojs" lang="en'

In [9]:
page[:50].decode('utf-8')

'<!DOCTYPE html>\n<html class="client-nojs" lang="en'

In [5]:
page[-100:]

b'tion(){mw.config.set({"wgBackendResponseTime":99,"wgHostname":"mw1272"});});</script>\n</body></html>'

In [6]:
from bs4 import UnicodeDammit

In [11]:
suggestion = UnicodeDammit(page)
suggestion.original_encoding

'utf-8'

In [12]:
a = urlopen(datafile)
type(a)

http.client.HTTPResponse

In [14]:
datafile = 'https://docs.misoenergy.org/marketreports/20210203_mom.xlsx'
mom_data = urlopen(datafile).read()
mom_data[:20]

b'PK\x03\x04\n\x00\x08\x08\x08\x00j\xa4CR\x00\x00\x00\x00\x00\x00'

In [16]:
import pandas as pd
df = pd.read_excel(mom_data)
df.head()

C:\Users\words\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Unnamed: 0,Multiday Operating Margin Forecast Report,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,"Publish Date: February 03, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Market Date: February 03, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2/4/21 HE 20**,2/5/21 HE 10**,2/6/21 HE 11,2/7/21 HE 20,2/8/21 HE 09**,2/9/21 HE 20**,NaN,NaN,NaN,NaN,NaN
4,RESOURCE COMMITTED,73143.8,70132.1,69823.7,80472.5,85188.6,82408.8,NaN,NaN,NaN,NaN,NaN

In [46]:
df = pd.read_excel(datafile)
df.head()

,Unnamed: 0,Multiday Operating Margin Forecast Report,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,"Publish Date: February 03, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Market Date: February 03, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2/4/21 HE 20**,2/5/21 HE 10**,2/6/21 HE 11,2/7/21 HE 20,2/8/21 HE 09**,2/9/21 HE 20**,NaN,NaN,NaN,NaN,NaN
4,RESOURCE COMMITTED,73143.8,70132.1,69823.7,80472.5,85188.6,82408.8,NaN,NaN,NaN,NaN,NaN

In [17]:
df.to_excel('mom_report.xlsx')

In [20]:
with open('mom_report.xlsx', 'wb') as f:
    f.write(mom_data)

In [19]:
from urllib.request import urlretrieve

urlretrieve(datafile, 'mom_report.xlsx')

df = pd.read_excel('mom_report.xlsx')
df.head()

C:\Users\words\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Unnamed: 0,Multiday Operating Margin Forecast Report,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,"Publish Date: February 03, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Market Date: February 03, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2/4/21 HE 20**,2/5/21 HE 10**,2/6/21 HE 11,2/7/21 HE 20,2/8/21 HE 09**,2/9/21 HE 20**,NaN,NaN,NaN,NaN,NaN
4,RESOURCE COMMITTED,73143.8,70132.1,69823.7,80472.5,85188.6,82408.8,NaN,NaN,NaN,NaN,NaN