In [1]:
import sqlite3

In [11]:
with open('C:/Users/words/Desktop/BikeStores Sample Database - create objects.sql', 'r') as f:
    create_objects = f.read()

In [12]:
create_objects

'/*\n--------------------------------------------------------------------\nÂ© 2017 sqlservertutorial.net All Rights Reserved\n--------------------------------------------------------------------\nName   : BikeStores\nLink   : http://www.sqlservertutorial.net/load-sample-database/\nVersion: 1.0\n--------------------------------------------------------------------\n*/\n-- create schemas\nCREATE SCHEMA production;\ngo\n\nCREATE SCHEMA sales;\ngo\n\n-- create tables\nCREATE TABLE production.categories (\n\tcategory_id INT IDENTITY (1, 1) PRIMARY KEY,\n\tcategory_name VARCHAR (255) NOT NULL\n);\n\nCREATE TABLE production.brands (\n\tbrand_id INT IDENTITY (1, 1) PRIMARY KEY,\n\tbrand_name VARCHAR (255) NOT NULL\n);\n\nCREATE TABLE production.products (\n\tproduct_id INT IDENTITY (1, 1) PRIMARY KEY,\n\tproduct_name VARCHAR (255) NOT NULL,\n\tbrand_id INT NOT NULL,\n\tcategory_id INT NOT NULL,\n\tmodel_year SMALLINT NOT NULL,\n\tlist_price DECIMAL (10, 2) NOT NULL,\n\tFOREIGN KEY (category_id) REFERENCES production.categories (category_id) ON DELETE CASCADE ON UPDATE CASCADE,\n\tFOREIGN KEY (brand_id) REFERENCES production.brands (brand_id) ON DELETE CASCADE ON UPDATE CASCADE\n);\n\nCREATE TABLE sales.customers (\n\tcustomer_id INT IDENTITY (1, 1) PRIMARY KEY,\n\tfirst_name VARCHAR (255) NOT NULL,\n\tlast_name VARCHAR (255) NOT NULL,\n\tphone VARCHAR (25),\n\temail VARCHAR (255) NOT NULL,\n\tstreet VARCHAR (255),\n\tcity VARCHAR (50),\n\tstate VARCHAR (25),\n\tzip_code VARCHAR (5)\n);\n\nCREATE TABLE sales.stores (\n\tstore_id INT IDENTITY (1, 1) PRIMARY KEY,\n\tstore_name VARCHAR (255) NOT NULL,\n\tphone VARCHAR (25),\n\temail VARCHAR (255),\n\tstreet VARCHAR (255),\n\tcity VARCHAR (255),\n\tstate VARCHAR (10),\n\tzip_code VARCHAR (5)\n);\n\nCREATE TABLE sales.staffs (\n\tstaff_id INT IDENTITY (1, 1) PRIMARY KEY,\n\tfirst_name VARCHAR (50) NOT NULL,\n\tlast_name VARCHAR (50) NOT NULL,\n\temail VARCHAR (255) NOT NULL UNIQUE,\n\tphone VARCHAR (25),\n\tactive tinyint NOT NULL,\n\tstore_id INT NOT NULL,\n\tmanager_id INT,\n\tFOREIGN KEY (store_id) REFERENCES sales.stores (store_id) ON DELETE CASCADE ON UPDATE CASCADE,\n\tFOREIGN KEY (manager_id) REFERENCES sales.staffs (staff_id) ON DELETE NO ACTION ON UPDATE NO ACTION\n);\n\nCREATE TABLE sales.orders (\n\torder_id INT IDENTITY (1, 1) PRIMARY KEY,\n\tcustomer_id INT,\n\torder_status tinyint NOT NULL,\n\t-- Order status: 1 = Pending; 2 = Processing; 3 = Rejected; 4 = Completed\n\torder_date DATE NOT NULL,\n\trequired_date DATE NOT NULL,\n\tshipped_date DATE,\n\tstore_id INT NOT NULL,\n\tstaff_id INT NOT NULL,\n\tFOREIGN KEY (customer_id) REFERENCES sales.customers (customer_id) ON DELETE CASCADE ON UPDATE CASCADE,\n\tFOREIGN KEY (store_id) REFERENCES sales.stores (store_id) ON DELETE CASCADE ON UPDATE CASCADE,\n\tFOREIGN KEY (staff_id) REFERENCES sales.staffs (staff_id) ON DELETE NO ACTION ON UPDATE NO ACTION\n);\n\nCREATE TABLE sales.order_items (\n\torder_id INT,\n\titem_id INT,\n\tproduct_id INT NOT NULL,\n\tquantity INT NOT NULL,\n\tlist_price DECIMAL (10, 2) NOT NULL,\n\tdiscount DECIMAL (4, 2) NOT NULL DEFAULT 0,\n\tPRIMARY KEY (order_id, item_id),\n\tFOREIGN KEY (order_id) REFERENCES sales.orders (order_id) ON DELETE CASCADE ON UPDATE CASCADE,\n\tFOREIGN KEY (product_id) REFERENCES production.products (product_id) ON DELETE CASCADE ON UPDATE CASCADE\n);\n\nCREATE TABLE production.stocks (\n\tstore_id INT,\n\tproduct_id INT,\n\tquantity INT,\n\tPRIMARY KEY (store_id, product_id),\n\tFOREIGN KEY (store_id) REFERENCES sales.stores (store_id) ON DELETE CASCADE ON UPDATE CASCADE,\n\tFOREIGN KEY (product_id) REFERENCES production.products (product_id) ON DELETE CASCADE ON UPDATE CASCADE\n);'

In [15]:
testdb = sqlite3.connect('testdb.db')

In [17]:
testdb.execute(create_objects)

OperationalError: near "SCHEMA": syntax error