In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

df = pd.read_excel('data/sample - default of credit card clients.xls',
                   skiprows=1,
                   index_col='ID')
target_column = 'default payment next month'
features = df.drop(target_column, axis=1)
targets = df[target_column]
train_x, test_x, train_y, test_y = train_test_split(features,
                                                    targets,
                                                    stratify=targets,
                                                    random_state=42)
scaler = StandardScaler()
scaled_train_x = scaler.fit_transform(train_x)
scaled_test_x = scaler.transform(test_x)
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
0,30000,1,2,2,25,0,0,0,0,0,...,12580,13716,14828,1500,2000,1500,1500,1500,2000,0
1,150000,2,1,2,26,0,0,0,0,0,...,101581,77741,77264,4486,4235,3161,2647,2669,2669,0
2,70000,2,3,1,32,0,0,0,0,0,...,69753,70111,70212,2431,3112,3000,2438,2500,2554,0
3,130000,1,3,2,49,0,0,0,0,0,...,16898,11236,6944,1610,1808,7014,27,7011,4408,0
4,50000,2,2,2,36,0,0,0,0,0,...,19574,20295,19439,2000,1500,1000,1800,0,1000,1

In [2]:
from sklearn.svm import LinearSVC

lsvc = LinearSVC()
lsvc.fit(scaled_train_x, train_y)
print(lsvc.score(scaled_train_x, train_y))
print(lsvc.score(scaled_test_x, test_y))

0.7973333333333333
0.7877333333333333

C:\Users\words\anaconda3\envs\datasci\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

In [3]:
targets.value_counts(normalize=True)

0    0.783067
1    0.216933
Name: default payment next month, dtype: float64

In [4]:
from sklearn.svm import SVC

svc = SVC(probability=True)
svc.fit(scaled_train_x, train_y)
print(svc.score(scaled_train_x, train_y))
print(svc.score(scaled_test_x, test_y))

0.8272
0.8181333333333334

In [5]:
svc.predict_proba(scaled_test_x)

array([[0.85726377, 0.14273623],
       [0.41361986, 0.58638014],
       [0.1880822 , 0.8119178 ],
       ...,
       [0.84015567, 0.15984433],
       [0.8819163 , 0.1180837 ],
       [0.84140074, 0.15859926]])

In [6]:
from pycaret.distributions import UniformDistribution
from pycaret.classification import setup, create_model, tune_model

clf_setup = setup(data=df,
                  target='default payment next month',
                  normalize=True)
lsvc = create_model(LinearSVC())

In [7]:
tuned_lsvc = tune_model(lsvc,
                        search_library='scikit-optimize',
                        custom_grid={"C": UniformDistribution(0, 50)})

In [8]:
tuned_lsvc

LinearSVC(C=1.1652011472979509, class_weight=None, dual=True,
          fit_intercept=True, intercept_scaling=1, loss='squared_hinge',
          max_iter=1000, multi_class='ovr', penalty='l2', random_state=None,
          tol=0.0001, verbose=0)

In [9]:
lsvc = create_model('svm')
tuned_lsvc = tune_model(lsvc, search_library='scikit-optimize')

In [10]:
lsvc

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.001, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=-1, penalty='l2',
              power_t=0.5, random_state=801, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [11]:
rbfsvc = create_model('rbfsvm')
tuned_rfbsvc = tune_model(rbfsvc, search_library='scikit-optimize')